*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#profile-img{
    height: 20rem;
    width: 30rem;
    margin-top: 4rem;
    border-radius: 10rem;
}
#intro{
    font-family: 'Unbounded', cursive;
    background-color:#97DECE ;
    text-align: center;
    height: 100vh;
}
#intro > a >img{
    margin-top: 1rem;
    height: 2rem;
    width: 2rem;
    padding-right: 1rem;
}

#dynamic-text{
    background-color: white;
    height: 3rem;
    width: 50%;
    display: block;
    margin: 3rem auto;
}
.section{
    background-color: #FFDCA9;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.section ul{
    list-style: none;
}

#button{
    margin-top: 1rem;
    background-color: white;
    color: black;
    border-radius: 2rem;
    width: 8rem;
}

form{
    /* text-align: center; */
    border: 1px solid;
    border-radius: 1rem;
    width: fit-content;
    margin: 1rem auto;
    padding: 1rem;
}

form > *{
    margin: .5rem;
}

#navbar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5rem;
}

#navbar ul li a{
    text-decoration: none;
    color: black;
}


